-if notice
  .notice-space
    %p.notice-space__text
      = notice

-if alert
  .alert-space
    %p.alert-space__text
      = alert

= render 'shared/side_bar'
.right-content
  .right-content-header
    %a.right-content-header__edit-button{href:"/groups/#{@group_id}/edit"} Edit
    %p.right-content-header__name group_name
    %p.right-content-header__members members
  .right-content__main
    = render @messages
  .right-content-send-space
    = form_for @message,url:{action:"create"},html: {class: "ms-form"} do |f|
      = f.text_field :body, placeholder: "type a message", class: "ms-form__textarea"
      %label.file
        %i.file__icon.fa.fa-picture-o
        = f.file_field :image,class: "file__image"
        =f.submit "Send",class: "ms-form__submit"
